<h1>Listing articles</h1>

<table>
	<caption>Just table</caption>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Text</th>
    <th scope="col"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>
